<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="汽车之家.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <connectionStrings>
    <add name="AccCon" providerName="Dos.ORM.MsAccess" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=E:\Dev\项目\汽车之家\汽车之家\Data\data.mdb"/>
  </connectionStrings>
  <appSettings>
    <add key="dataSrvUrl" value="http://103.230.123.176/Service.asmx"/>
    <add key="UserName_QC" value="" />
    <add key="PassWord_QC" value="" />
    <add key="chkSavePass_QC" value="False" />
    <add key="UserName_YC" value="" />
    <add key="PassWord_YC" value="" />
    <add key="chkSavePass_YC" value="False" />
  </appSettings>
    <applicationSettings>
        <汽车之家.Properties.Settings>
            <setting name="汽车之家_Service_Service" serializeAs="String">
                <value>http://localhost:32050/Service.asmx</value>
            </setting>
        </汽车之家.Properties.Settings>
    </applicationSettings>
</configuration>